/.desktop
/.desktop (1)
/20200714_085349.jpg
/94216285_1920054671460440_3620923967608455168_n.jpg
/Clustering
/Running Times.ods
/Slay the Spire.desktop
/Untitled Document 2.txt
/Untitled Document 3.txt
/Untitled Document.txt
/XMageLauncher-0.3.8(3).jar
/balls.jpg
/budget
/chess.png
/geckodriver-v0.26.0-linux64.tar.gz
/monte-carlo-simulaton
/out.csv
/pizza_dough
/scratch.py
/skeletris_v1_0_1_beta_linux_64bit
/steam.desktop
/tree.html
/umbria
/units.csv
/webpage..html
/webpage.html
/webpage.txt